<style>
    /* set background color to blue */
body {
  background-color: #0078be9d;
  text-align: center;
}

/* style the welcome heading */
h1 {
  color: #fff;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 30px;
}
table{
    text-align: center;
}
/* style the service request heading */
h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

/* style the table headers */
th {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #fff;
}

/* style the table data */
td {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #fff;
}


/* style the link to the maps */
a {
  color: #fff;
  
}

/* style the hover effect on the link */


</style>
<h1>Welcome {{request.user.first_name}}</h1>
<h2>Your Service request</h2>
<table>
    <th colspan="1">
        Custmor Name
    </th>
    <th colspan="3">
        Address
    </th>
    <td colspan="1">
        Contact Number
    </td>
    <th colspan="1">
        
    </th>
<tr>
{% for i in request_list %}
<td>{{i.service_request.user.user.first_name}}</td>
<td colspan="3">{{i.service_request.Address}}</td>
<td>{{i.service_request.contact}}</td>
<td><a href="https://maps.google.com/?q={{i.service_request.lat}},{{i.service_request.log}}">Get Direction</a></td>
</tr>
{% endfor %}

</table>